USE [master]
GO
/****** Object:  Database [TpBdd2Comp]    Script Date: 18/10/2022 10:43:57 ******/
CREATE DATABASE [TpBdd2Comp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TpBdd2Comp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TpBdd2Comp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TpBdd2Comp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TpBdd2Comp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TpBdd2Comp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TpBdd2Comp]
GO
/****** Object:  Table [dbo].[Autos]    Script Date: 18/10/2022 10:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Patente] [varchar](8) NOT NULL,
	[Marca] [varchar](20) NOT NULL,
	[Modelo] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Autos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
